[Unit]
Description=Zookeeper
Before=
After=network.target

[Service]
Type=forking
User=zookeeper
Environment=ZOO_LOG_DIR=/var/log/zookeeper JAVA_HOME=/usr/lib/jvm/zulu11 CHDIR=/var/lib/zookeeper
ExecStart=/opt/apache-zookeeper-3.6.3-bin/bin/zkServer.sh start
Restart=on-abort

[Install]
WantedBy=multi-user.target
