[Unit]
Description=Burrow exporter
Requires=burrow.service
After=burrow.service
After=network.target

[Service]
Environment='BURROW_ADDR=http://localhost:8000'
Environment='METRICS_ADDR=0.0.0.0:8001'
Environment='INTERVAL=30'
Environment='API_VERSION=3'

User=burrow
Type=simple
Restart=on-failure
RestartSec=5s
WorkingDirectory=/opt/burrow/
ExecStart=/opt/burrow/burrow-exporter

[Install]
WantedBy=multi-user.target
